<template name="Home_layout_page">
    <div class="navbar navbar-inverse navbar-fixed-top homeNav">
        <div class="navbar-header">
            <div class="navbar-brand" id="logo"><img src="/images/drcoglogowhitenew.png" height="50px" width="111px" /></div>
            <a class="navbar-brand" href="#">Land Use Explorer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if currentUser}}
                    <li id="logOutUserNav"><a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp; Log Out</a></li>
                    <li><a href="/map"><span class="glyphicon glyphicon-globe" style="color:white"></span>&nbsp;&nbsp; Result Map</a></li>
                    {{#if isInRole 'admin'}}
                        <li class="dropdown">
                            <a id="adminDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-lock" style="color:white;"></span>&nbsp;&nbsp; Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/adduser">Create New User</a></li>
                                <li><a href="/admin/changeroles">Edit User Roles</a></li>
                                <li><a href="/admin/changepassword">Change User Password</a></li>
                                <li><a href="/admin/deleteuser">Delete User</a></li>
                            </ul>
                        </li>
                    {{/if}}
                {{else}}
                    <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; Log In</a></li>
                {{/if}}
                <li><a href="#" data-toggle="modal" data-target="#aboutModal"><span class="glyphicon glyphicon-question-sign" style="color:white;"></span>&nbsp;&nbsp;About</a></li>
            </ul>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">About this Application</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The DRCOG Land Use Explorer give you the ability to review and comment on the latest land use
                        forecast for the Denver region. Demographic and employment forecasts are available at county and
                        traffic analysis zone (TAZ) levels. Query results by year and variable of interest. Add comments
                        at the TAZ level. Satellite imagery is available to better help you understand the results
                        in a planning context.
                    </p>
                    <p>
                        The land use forecast is prepared using the UrbanSim model platform. UrbanSim supports urban
                        development planning and analysis, incorporating the interactions between land use, transportation,
                        and the economy. UrbanSim is currently used by a large number of metropolitan planning organizations
                        in the U.S. as well as in Europe, Asia, and Africa.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {{#if currentUser}}
        {{>Template.dynamic template=main}}
    {{else}}
        {{>Login_page}}
    {{/if}}

</template>

