<template name="Home_layout_page">

    {{#if isSpinning}}
        {{>spinner}}
    {{/if}}

    {{#if isInRole 'admin'}}
        {{>adminNavBar}}
    {{/if}}

    {{#if user}}
        {{>userNavBar}}
    {{/if}}

    {{#if public}}
        {{>publicNavBar}}
    {{/if}}

    {{#if currentUser}}
        {{>Template.dynamic template=main}}
    {{else}}
        {{>Login_page}}
    {{/if}}

</template>

<template name="adminNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <ul id="AdminDropDown" class="dropdown-content">
            <li><a href="#" id="addUser" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'addUser')">Create New User</a></li>
            <li><a href="#" id="editUser" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'editUser')">Edit User Roles</a></li>
            <li><a href="/admin/changepassword">Change User Password</a></li>
            <li><a href="/admin/deleteuser">Delete User</a></li>
        </ul>

        <ul id="MapDropDown" class="dropdown-content">
            <li><a href="/map">View Map</a></li>
            <li><a href="#" id="navMapColor" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navMapColor')">Style Map</a></li>
        </ul>

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>

                    <li>
                        <a id="navMap" href="#" class="valign-wrapper dropdown-button" data-activates="MapDropDown">
                            <i class="correctSize material-icons">language</i>
                            <span class="valign">Map</span>
                        </a>
                    </li>
                    <li>
                        <a id="navLayers" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navLayers');">
                            <i class="correctSize material-icons">layers</i>
                            <span class="valign">Layers</span>
                        </a>
                    </li>

                        <li>
                            <a id="navAdmin" href="#" class="valign-wrapper dropdown-button" data-activates="AdminDropDown">
                                <i class="correctSize material-icons">work</i>
                                <span class="valign">Admin</span>
                            </a>
                        </li>


                    <li>
                        <a id="navLogOut" href="#" class="valign-wrapper" data-activates="slide-out">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log Out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>

<template name="userNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>

                    <li>
                        <a id="navMap" href="/map" class="valign-wrapper">
                            <i class="correctSize material-icons">language</i>
                            <span class="valign">Map</span>
                        </a>
                    </li>
                    <li>
                        <a id="navLayers" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navLayers')">
                            <i class="correctSize material-icons">layers</i>
                            <span class="valign">Layers</span>
                        </a>
                    </li>

                    <li>
                        <a id="navLogOut" href="#" class="valign-wrapper" data-activates="slide-out">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log Out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>

<template name="publicNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>
                    <li>
                        <a id="navSignUp" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navSignUp')">
                            <i class="correctSize material-icons test">input</i>
                            <span class="valign">Sign Up</span>
                        </a>
                    </li>
                    <li>
                        <a id="navLogIn" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navLogIn')">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log In</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>
