<template name="Home_layout_page">

    {{#if isInRole 'admin'}}
        {{>adminNavBar}}
    {{/if}}

    {{#if user}}
        {{>userNavBar}}
    {{/if}}

    {{#if public}}
        {{>publicNavBar}}
    {{/if}}


    {{>Template.dynamic template=main}}




</template>

<template name="adminNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <ul id="AdminDropDown" class="dropdown-content">
            <li><a href="#" id="addUser" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'addUser')">Create New User</a></li>
            <li><a href="#" id="editUser" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'editUser')">Edit User Roles</a></li>
            <!--<li><a href="#" id="changeUserPass" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'changeUserPass')">Change User Password</a></li>-->
            <li><a href="#" id="deleteUser" class="navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'deleteUser')">Delete User</a></li>
        </ul>

        <ul id="MapDropDown" class="dropdown-content">
            <li><a href="/map">View Map</a></li>
            {{#if isInRole 'admin'}}
                <li><a href="/3dmap">3D Map</a></li>
            {{/if}}

        </ul>

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>


                    <li>
                        <a id="navAdmin" href="#" class="valign-wrapper dropdown-button" data-activates="AdminDropDown">
                            <i class="correctSize material-icons">work</i>
                            <span class="valign">Admin</span>
                        </a>
                    </li>


                    <li>
                        <a id="navLogOut" href="#" class="valign-wrapper" data-activates="slide-out">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log Out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>

<template name="userNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>


                    <li>
                        <a id="navLogOut" href="#" class="valign-wrapper" data-activates="slide-out">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log Out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>

<template name="publicNavBar">
    <div id="primaryNav" class="navbar-fixed">

        <nav class="grey darken-4">
            <div style="display:inline-block; width:175px; height:100%; background: url('/images/drcoglogowhitenew.png') no-repeat;">
                <a style="display: table-cell; width:175px; height:64px; !important;" href="http://www.drcog.org" target="_blank"></a>
            </div>
            <a href="#" class="brand-logo">Land Use Explorer</a>

            <div class="nav-wrapper right">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a id="navInfo" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navInfo')">
                            <i class="correctSize material-icons test">info</i>
                            <span class="valign">Info</span>
                        </a>
                    </li>

                    <li>
                        <a id="navLogIn" href="#" class="valign-wrapper navLink" data-activates="slide-out" onclick="Session.set('selectedNavItem', 'navLogIn')">
                            <i class="correctSize material-icons">person</i>
                            <span class="valign">Log In</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div id="navSlide">
        {{>Material_side_nav (SlideOut_args selectedNavItem)}}
    </div>
</template>
