<template name="map_legend">
    <table style="width:150px; margin-left:15px;">
        <thead>
        <tr>
            <th>Legend</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each this.categories}}
            <tr>
                <td>
                    <h6 class="left-align">{{this.name}}</h6>
                </td>
                <td>
                    <svg width="25" height="25">
                        <rect width="25" height="25" style="fill:{{this.color}}; stroke-width:1px; stroke:{{this.color}};"></rect>
                    </svg>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>

</template>